body {
  display: grid;
}

.face {
  display: grid;
    background-color: rgb(99, 99, 219);
  text-align: center;
  justify-content: center;
}
.scence {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 100px auto;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-30deg);
  animation: rotateCube 10s infinite linear;
}
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgb(123, 121, 252);
  border: 2px solid #fff;
  line-height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  backface-visibility: hidden;
}
.Front {
  transform: translateZ(100px);
}
.Back {
  transform: rotateY(180deg) translateZ(100px);
}
.Right {
  transform: rotateY(90deg) translateZ(100px);
}
.Left {
  transform: rotateY(-90deg) translateZ(100px);
}
.Top {
  transform: rotateX(90deg) translateZ(100px);
}
.Bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotateCube {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
