@font-face {
  src: url(/Fonts/Font\ Farsi/vazir);
}
body {
  font-family: "vazir";
  width: 100vh;
  display: flex;
}

/* rest styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(175, 175, 223);
  width: 100vh;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 100px;
  border-radius: 100%;
}
.main .box{
  background-color: rgba(255, 255, 0, 0.39);
  width: 33%;

}
.main .titr{
  display: flex;
  justify-content: center;
}