@font-face {
  src: url(/Fonts/Font\ Farsi/vazir);
}
body {
  font-family: "vazir";
  width: 100vh;
  background-color: rgba(255, 0, 0, 0.493);
  display: flex;
}

/* rest styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header .menu{

}
.header{

}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
.footer {
  background-color: rgb(175, 175, 223);
  width: 100vh;
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  border-radius: 100%;
}
.main {
  width: 100vh;
  height: 100vh;
}
.main .containerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .box {
  background-color: rgba(255, 255, 0, 0.39);
  width: 33%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.main .titr {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
