@font-face {
  src: url(/Fonts/Font\ Farsi/vazir);
}
body {
  font-family: "vazir";
  width: 100vh;
  background-color: rgba(255, 0, 0, 0.493);
  display: flex;
}

/* rest styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
.footer {
  background-color: rgb(175, 175, 223);
  width: 100vh;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 100px;
  border-radius: 100%;
}
.main {
  height: 100vh;
}
.main .containerMain{
  display: flex;
}
.main .box {
  background-color: rgba(255, 255, 0, 0.39);
  width: 33%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .titr {
  display: flex;
  justify-content: center;
}
