*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;

}
table{
    width: 100%;
border-collapse: separate;
}
tr , th , td{
border: 1px solid black;
border-radius: 5px;
padding: 5px;
}
tr{
    background-color: aqua;
}