/* استایل مربوط به جدول ضربه */
/* خط 130 تا 137 js */

/* div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(109, 153, 109);
    text-align: center;
    line-height: 50px;
    margin: 2px;
}  */

/*  */

/* 123 */

/* table {
  text-align: center;
  border-collapse: collapse;
  margin-left:  50px;
}

th,
td {
  padding: 5px;
}
th {
  background-color: blue;
  color: snow;
}
tr:nth-child(even) {
  background: #ccc;
} */

/* 123 دوباره تمرین بیشتر */



/* table {
  text-align: center;
  border-collapse: collapse;
}
th,
tr {
  padding: 5px;
}
th {
  background-color: green;
  color: blue;
}
tr:nth-child(odd) {
  background: red;
} */

/* 123 دوباره تمرین بیشتر */


