
/* استایل مربوط به جدول ضربه */
/* خط 130 تا 137 js */




/* div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(109, 153, 109);
    text-align: center;
    line-height: 50px;
    margin: 2px;
}  */


/*  */


