body{
    display: inline-block;
    width: 100vw;

}
div{
margin: 200px;

}

.div1{
    background-color: green;
    width:250px;
    height: 150px;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.div2{
    background-color: rgb(81, 0, 128);
    width:500px;
    height: 150px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: -204px;
    margin-left: 80px;
   
}
.div3{
    background-color: rgb(0, 0, 0);
    width:50px;
    height: 120px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: -204px;
    margin-left: 150px;
}
.div4{
    background-color: rgb(167, 14, 14);
    width:50px;
    height: 120px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: -300px;
    margin-left: 450px;
}
.div3 ,.div4{
    border-radius: 50%;
}