ul {
  list-style: none;
  padding: 0;
  word-spacing: -4px;
}
.ListSection {
  background-color: aqua;
}
.ListItemBase {
  background-color: aquamarine;
  margin-top: 5px;
  border: 1px solid;
  height: 70px;
}
.InternalList {
  height: 100%;
}
.InternalList .ListItemInternal {
  width: 25%;
  height: 100%;
  display: inline-block;
}
.boxshadow {
  box-shadow: 10px 0 15px gray;
}
