body{
    margin: 0;
}
div{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(201, 12, 12);
    display: inline-block;
    text-align: center;
line-height:10px ;
margin: 50px auto;
}
img{
    width: 300px;
 
}
