body {
  height: 100vh;
  background-color: rgb(226, 202, 168);
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: aqua;
  height: 20%;
  text-align: center;
}

h1 {
  display: inline-block;
  color: blue;
  background-color: yellow;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.521);
}
.main {
  width: 100%;
  height: 60%;
  background-position: center;
  background-blend-mode: overlay;
  background: rgba(0, 0, 255, 0.267)
    url(/DoreKardanKamel/assets/Images/Nuther/morskie-oko-tatry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 20%;
  width: 100%;
  background-color: red;
}
