body {
  margin: 0;
  padding: 0;
  text-align: center;
}
header,
footer {
  height: 20vh;
  margin: 0;
  background-color: blue;
}
h1 {
  text-align: center;
  line-height: 150px;
  margin: 0;
}
.galleryBox {
  width: 40%;
  text-align: center;
  display: inline-block;
}
.boxLeft , .boxRight{
    width: 30%;
}
.boxLeft{
    display: end;
}
.boxRight{
    display: start;
}
.box {
  display: inline-block;

  padding: 3px;
  box-sizing: border-box;
}
.image1{
    margin: 0;
}
.image5 {
  height: 200px;
  margin-top: 20px;
}
.image6 {
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(255, 255, 0, 0.568);
  text-align: center;
}
.image7{
    height: 250px;
}
.box1 {
  width: 30%;
}
.box2 {
  width: 30%;
  text-align: center;
}
.box3 {
  width: 30%;
}
img {
  width: 100%;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 10px 0 10px 0;

  object-fit: cover;
}
