body{
  height: 100vh;
}
header{
  height: 15%;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgb(2, 2, 71);
  line-height: 100px;
}

footer{
  text-align: center;
  background-color: rgb(197, 247, 247);
  margin-top: 100px;
  height: 100px;
  line-height: 100px;
}
ul {
  list-style: none;
  padding: 0;
  word-spacing: -4px;
}
h3{
  margin: 0;
}
.listSection {
  text-align: center;
}

.listItemBase {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.311);

}

.internalList {
  height: 100%;
}

.internalList .listItemInternal {
  width: 25%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.listItemInternal h3{
  margin-top: 10px;
  margin-left: 10px;
}

.progressBox{
  word-spacing: 10px;
  margin-left: 10px;
}

.listItemInternal b{
  color: rgb(43, 43, 255);
}

.listItemInternal button{
  width: 70%;
  height: 30px;
  background-color: rgb(252, 135, 0);
  border-radius: 100px;
  vertical-align: middle;
  color: white;
}


.boxShadow {
  box-shadow: 5px 0 25px rgba(128, 128, 128, 0.325);
}

.star {
  color: rgb(255, 119, 0);
  font-size: 25px;
}

.lineHeight70{
  line-height: 70px;
}

.wordSpacing3{
  word-spacing: 3px;
}

.textAlignCenter{
  text-align: center;
}

.verticalAlignMiddle{
  vertical-align: middle;
}


@media (max-width : 700px) {
  li{
    width: 100% !important;
  }
}

