body {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxsection {
  padding: 20px;
  border-radius: 8px;
  background-color: gray;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.div {
  background-color: rgb(109, 89, 201);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
